{% extends 'layout.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8" >

            <div class="row" >
                <div class="col-md-10">
                    {% form_theme form 'bootstrap_4_layout.html.twig' %}
                    {{ form_start(form, { 'attr': {'novalidate': 'novalidate',"class":"" } }) }}
                    {{ form_widget(form) }}
                </div>
                <div class="col-md-2">
                    <button  class="btn btn-dark btn-lg"><i class="fa fa-search"></i> </button>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
        <div class="col-md-2">

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <b>Les derniers sites</b>
            {% for l in listetraitement %}
                <div class="" style="background-color: #ffffff;padding:10px;border-radius: 5px">
                  <a href="{{ l.urlSite}}" class="link" target="_blank"> {{ l.urlSite}} </a>
                    <a href="{{ url("affiche_traitement",{"hashtraitement":l.hashTraitement}) }}" class="btn btn-info btn-sm">Voir le traitement</a>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>

{% endblock %}
